:root{
    --color-primary: #427EF3;
    --color-bg: #f7f3f0;
    --color-navigation-bg: rgba(255, 255, 255, 0.7);
    --color-arrow-active-bg: #ddecff;
    --color-pagination-active-bg: #bcccf2;
    --color-card: #eeeeee;
    --easing-function: linear;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: sans-serif;
    background-color: var(--color-bg);
    min-height: 100vh;
    min-height: 100svh;
    padding-top: 20px;
    padding-bottom: 20px;
}

img,
svg
{
    display: block;
    max-width: 100%;
}

.tinyflow-slider{
    --_shadow-spread: 20px;
    width: 100%;
    padding-top: calc(var(--_shadow-spread, 0) * 2);
    padding-bottom: calc(var(--_shadow-spread, 0) * 2);
}

.tinyflow-slider__arrow{
    --_size: 40px;
    position: absolute;
    z-index: 2;
    top: 50%;
    -webkit-transform: translate(var(--_translateX, 0), -50%);
        -ms-transform: translate(var(--_translateX, 0), -50%);
            transform: translate(var(--_translateX, 0), -50%);
    width: var(--_size);
    height: var(--_size);
    font-size: calc(var(--_size) / 3);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10rem;
    color: var(--color-primary);
    background-color: var(--color-navigation-bg);
    border: 0;
    cursor: pointer;
    -webkit-transition: background-color 0.05s var(--easing-function);
    -o-transition: background-color 0.05s var(--easing-function);
    transition: background-color 0.05s var(--easing-function);
}

@media (min-width: 768px) {
    .tinyflow-slider__arrow{
        --_size: 60px;
    }
}

.tinyflow-slider__arrow.swiper-button-disabled{
   display: none;
}

.tinyflow-slider__arrow--prev{
    --_translateX: 20px;
}

.tinyflow-slider__arrow--next{
    --_translateX: -20px;
    right: 0;
}

.tinyflow-slider__arrow:active{
    background-color: var(--color-arrow-active-bg);
}

@media (hover:hover) {
    .tinyflow-slider__arrow:hover,
    .tinyflow-slider__arrow:focus-visible
    {
        background-color: var(--color-arrow-active-bg);
    }
}

.tinyflow-slider__pagination{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
}

.tinyflow-slider__pagination__btn{
    position: relative;
    width: 100%;
    max-width: 100px;
    height: 5px;
    background-color: var(--color-navigation-bg);
    border: 0;
    border-radius: 10rem;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: background-color 0.05s var(--easing-function);
    -o-transition: background-color 0.05s var(--easing-function);
    transition: background-color 0.05s var(--easing-function);
}

.tinyflow-slider__pagination__btn:active{
    background-color: var(--color-arrow-active-bg);
}

@media (hover:hover) {
    .tinyflow-slider__pagination__btn:hover,
    .tinyflow-slider__pagination__btn:focus-visible
    {
        background-color: var(--color-arrow-active-bg);
    }
}

.tinyflow-slider__pagination__btn::after{
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: var(--_progress, 0);
    background-color: var(--color-pagination-active-bg);
    border-radius: inherit;
}

.tinyflow-slider__pagination__btn.swiper-pagination-bullet-active::after{
    -webkit-transition: all var(--easing-function);
    -o-transition: all var(--easing-function);
    transition: all var(--easing-function);
}

.card{
    position: relative;
    width: 100%;
    max-width: 420px;
    min-height: 500px;
    background-color: var(--color-card);
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s var(--easing-function);
    -o-transition: all 0.2s var(--easing-function);
    transition: all 0.2s var(--easing-function);
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .card{
        max-width: 370px;
    }
}

.swiper-slide:not(.swiper-slide-active) .card{
    opacity: 0.4;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.swiper-slide.swiper-slide-active .card{
    -webkit-box-shadow: 0 0 var(--_shadow-spread) rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 var(--_shadow-spread) rgba(0, 0, 0, 0.05);
}

.card__bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: var(--color-card);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -o-object-fit: cover;
       object-fit: cover;
}

@media (max-width: 767.98px) {
    .swiper-slide{
        padding-left: 20px;
        padding-right: 20px;
    }
}